@let posts = posts$ | async;
@let loading = $loading();
@let error = $error();

@if (loading) {
  @for (_ of skeletons; track $index) {
    <mat-card class="item skeleton" appearance="outlined">
      <div class="row">
        <div>
          <h3 class="title skeleton-line"></h3>
          <p class="subtitle skeleton-line"></p>
        </div>
      </div>
    </mat-card>
  }
} @else if (error) {
  <mat-card role="alert" appearance="outlined" class="empty error">Failed to load posts. Please try again.</mat-card>
} @else if (posts?.length) {
  @for (post of posts; track post.id) {
    <mat-card class="item" appearance="outlined" [routerLink]="[post.id]" aria-label="Open {{ post.title }}">
      <div class="row">
        <div>
          <h3 class="title">{{ post.title }}</h3>
          <p class="subtitle">{{ post.body }}</p>
        </div>
        <mat-icon class="chevron">chevron_right</mat-icon>
      </div>
    </mat-card>
  }
} @else {
  <mat-card appearance="outlined" class="empty">No posts</mat-card>
}


